html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #f4f7fb !important;
}

.bg-3 {
    background-color: #e9eef5;
}

.bg-2 {
    background-color: #cedbe9;
}

.animation:hover{
    transition: 0.3s;
    transform: scale(1.03);
}

.navbar {
    background-color: #e9eef5 !important;
}

.table tbody tr:hover {
    background-color: #f8f9fa;
}

.card {
    border: none;
}

.nav-pills .nav-link {
    border-radius: 20px;
    padding: 8px 18px;
}

.btn-primary {
    background-color: #2c4460;
    border: none;
}

.btn-primary:hover{
    background-color: #111822;
}

.modal.fade .modal-dialog {
    transform: scale(0.8);
    transition: transform .25s ease-out;
}

.modal.show .modal-dialog {
    transform: scale(1);
}
